@import "../../../../style/essentials";

.pagination {
  text-align: right;
  span {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin: 0 .5rem;
    font-size: 1.2rem;
    font-weight: bolder;
    //color: $black-lighter;
    //transition: $transition;
    padding: 1rem;
    //&.active { color: $black-light; }

    svg {
      //fill: $black-lighter;
      //transition: $transition;
      vertical-align: middle;
    }
    &:hover {
      //color: $black-light;
      //svg { fill: $black-light; }
    }
  }
}
