/*==================================================

  Variables

==================================================*/


/*
 * Screen sizes
 */

$screen-xs  : 450px;
$screen-s   : 800px;
$screen-m   : 1200px;


/*
 * Colors
 */

$blue: #3383CA;
$blue-light: #65ABE8;
$blue-lighter: #89bce8;
$light: #f2f4f5;
