<form [formGroup]="form" (ngSubmit)="submit()">
  <h3>Contact us</h3>

  <div class="fieldgroup--layout-split">
    <label for="name" class="layout-block">
      <span>Name</span>
      <input type="text" id="name" name="name" placeholder="John Doe" formControlName="name">
    </label>
    <label for="email" class="layout-block">
      <span>Email</span>
      <input type="email" id="email" name="email" placeholder="John@Doe.com" formControlName="email">
    </label>
  </div>

  <label for="subject" class="layout-block">
    <span>What is your message subject?</span>
    <select id="subject" name="subject" formControlName="subject">
      <option *ngFor="let option of options" [value]=option>{{option}}</option>
    </select>
  </label>

  <label for="message" class="layout-block">
    <span>Message</span>
    <textarea id="message" name="message" rows="4" formControlName="message"></textarea>
  </label>

  <button type="submit" class="btn--primary form-submit" [disabled]="form.invalid" [jpLoadClick]="submit()">Send</button>
</form>
