<header>
  <div class="header_main">
    <div class="container flex--row--jc-between logo">
      <a routerLink="/">
        <img src="/assets/imgs/logo.png" alt="logo">
      </a>
      <div>
        <a class="btn--contain" routerLink="contact" routerLinkActive="active">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="24" height="24" fill="#3383CA"><path d="M1.57 5.29l7.5 4.02c.26.14.58.2.91.2.33 0 .65-.06.9-.2l7.5-4.02c.5-.27.96-1.29.06-1.29H1.52c-.9 0-.43 1.02.05 1.29zm17.04 2.2l-7.72 4.03c-.34.18-.58.2-.91.2s-.57-.03-.9-.2l-7.7-4.03C1 7.29 1 7.52 1 7.7V15c0 .42.57 1 1 1h16c.43 0 1-.58 1-1V7.7c0-.2 0-.42-.39-.21z"/></svg>
        </a>
        <button id="menu" class="show-s btn--contain" style="margin-right: 2rem;" (jasperoStopPropagation)="toggleMobileMenu()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="#3383CA"><path d="M24 17v3H0v-3h24zM0 10.5v3h24v-3H0zM0 4v3h24V4H0z"/></svg>
        </button>
      </div>
    </div>
  </div>
  <div class="header_sub hide-s">
    <nav class="container flex--row">
      <ng-container *ngFor="let item of menu">
        <span class="item" *ngIf="item.nested; else basic;" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <span [routerLink]="item.link">{{item.name}}</span>
          <span class="sub-menu">
              <a *ngFor="let nestedItem of item.nested" [routerLink]="nestedItem.link">{{nestedItem.name}}</a>
          </span>
        </span>
        <ng-template #basic>
          <a class="item" [routerLink]="item.link" routerLinkActive="active">
            <span>{{item.name}}</span>
          </a>
        </ng-template>
      </ng-container>
    </nav>
  </div>
</header>

<aside id="aside" [class.active]="mobileMenu" (click)="toggleMobileMenu()">
  <nav>
    <button id="close-menu" class="btn--contain">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="16" height="16" fill="white"><path d="M20 2l-2-2-8 8-8-8-2 2 8 8-8 8 2 2 8-8 8 8 2-2-8-8 8-8z"/></svg>
    </button>

    <ng-container *ngFor="let item of menu">
      <a [routerLink]="item.link" routerLinkActive="active">{{item.name}}</a>
      <ng-container *ngIf="item.nested">
        <a *ngFor="let nestedItem of item.nested" [routerLink]="nestedItem.link">{{nestedItem.name}}</a>
      </ng-container>
    </ng-container>
  </nav>
</aside>

<section class="image-block container hide-s">
  <div class="slide-1"></div>
  <div class="slide-2"></div>
  <div class="slide-3"></div>
  <div class="slide-4"></div>
  <div class="slide-5"></div>
</section>

<main class="container">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="sidebar">

    <div class="sidebar_title">
      {{viewDate | date:'MMMM, y'}}
    </div>

    <div class="sidebar_navigation">
      <button
        class="btn--contain"
        mwlCalendarPreviousView
        view="month"
        [(viewDate)]="viewDate"
        (viewDateChange)="loadData($event)">>
        Previous
      </button>
      <button
        class="btn--contain"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="loadData($event)">
        Today
      </button>
      <button
        class="btn--contain"
        mwlCalendarNextView
        view="month"
        [(viewDate)]="viewDate"
        (viewDateChange)="loadData($event)">
        Next
      </button>
    </div>

    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events$ | async"
      (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-month-view>

    <div class="sidebar_events" *ngIf="eventsShortLength$ | async;">
      <h2>Events</h2>
      <jaspero-event *ngFor="let item of eventsShort$ | async" [event]="item"></jaspero-event>

      <div class="more_events" routerLink="events">
        More Events
      </div>
    </div>
  </div>
</main>

<footer class="container flex--row--jc-between--ai-stretch">
  <button class="btn--secondary" routerLink="become-sponsor" routerLinkActive="active">
    <span>Become a sponsor </span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20">
      <path fill="#FFF" d="M10 1.6a8.4 8.4 0 1 0 0 16.8 8.4 8.4 0 0 0 0-16.8zm5 9.4h-4v4H9v-4H5V9h4V5h2v4h4v2z"/></svg>
  </button>
  <div>
    <p>©{{currentYear}} IGO, All rights reserved</p>
    <p>Made by <a class="link" href="https://jaspero.co/" target="_blank" rel="nofollow">Jaspero</a></p>
  </div>
</footer>

<!--<simple-notifications></simple-notifications>-->
